<div class="row">
    <div class="col-3">
        <div class="card" style="width: 10rem;">
            <div class="card-body">
                <p class="card-text">
                    <img src="images/wood.png" width="30" height="30">
                    <span id="resources-wood">0</span> / <span id="resources-wood-capacity">0</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 10rem;">
            <div class="card-body">
                <p class="card-text">
                    <img src="images/clay.png" width="30" height="30">
                    <span id="resources-clay">0</span> / <span id="resources-clay-capacity">0</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 10rem;">
            <div class="card-body">
                <p class="card-text">
                    <img src="images/iron.png" width="30" height="30">
                    <span id="resources-iron">0</span> / <span id="resources-iron-capacity">0</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 10rem;">
            <div class="card-body">
                <p class="card-text">
                    <img src="images/crop.png" width="30" height="30">
                    <span id="resources-crop">0</span> / <span id="resources-crop-capacity">0</span>
                </p>
            </div>
        </div>
    </div>
</div>